@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';

html, body, .app, .main {
  height: 100%;
  width: 100%;
}

.slider {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  height: 600px;
  overflow: hidden;
  white-space: nowrap;

  .slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%;

    .slide {
      display: inline-block;
      height: 100%;
      width: 100%;
    }
  }
}

.nextArrow, .backArrow {
  resize: both;
  height: 50px;
  width: 50px;
  display: block;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  background: #fff;
  border-radius: 50%;
}

.nextArrow i {

  width: 50px;
  height: 50px;
  position: center;
  display: inline-flex;
  resize: both;
}
.nextArrow {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: #fff;

  img {
    transform: translate(2px, 0);
  }

.backArrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #fff;

  img {
    transform: translate(-2px, 0);
  }
}


}*/

.backArrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #fff;

  img {
    transform: translate(-2px, 0);
  }
}

.dots-container {
  position: absolute;
  bottom: 7%;
  width: 100%;
  text-align: center;
  z-index: 9999;

  .dot {
    background: #222;
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 50%;
  }
  .active {
    background: #fff;
  }
}
