body {
  margin: 0;
  padding: 0;
  font-family: Courier New;
}
nav {

}

nav li {
  margin: 10px ;
  padding: 21px;
  display:inline;
}

nav ul {
  display: inline;
}

.contact-btn {
 float: right;
}
#shop-images{
position:absolute;
display: block;
top: 20%;
left: 15%;
max-width: 40%;
}

#shop-text{
  position: fixed;
  font-size: 14px;
  left: 55%;
  top: 35%;
  max-width: 150px;
}

.contact-btn a {
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #9400D5;

}

.contact-btn a:active {
  position: relative;
  bottom: 2px;

}

nav a {
  height: 60px;
  line-height: 60px;
  color: #9400D5;
  text-decoration: none;
}
