.App {
  text-align: center;
  background-image: url("rtp1 (2).jpg");
  background-size: cover;
  webkit-background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height:  100vh;
  z-index: -10;
}



.App-header {

  display:'inline'block;
  top: 0;
  bottom: 30;
  height: 0vh;
  color: green;
}

.nav {
  font-family: 'Lato', sans-serif;
  height: 0vh
}

.nav li {
  margin: 10px ;
  padding: 21px;
  display:inline;
  float: left;

}

.nav li a{
  color: purple;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}
.nav li a:hover {

  text-shadow: 1px 1px 2px black, 0 0 25px orange, 0 0 5px #FF9933;

}

.nav ul {
  display: inline;
}

.contact-btn {
 float: right;
}

.contact-btn a {
  margin-right: 30px;
  padding: 8px 18px;
  color: purple;
  border: 1px solid #9400D5;
  height: 80px;
  line-height: 125px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  text-decoration: none;
}

.contact-btn a:active {
  position:relative;
  bottom: 2px;

}
.contact-btn a:hover{
  text-shadow: 1px 1px 2px black, 0 0 25px orange, 0 0 5px #FF9933;
}
.nav ul li a {
  height: 60px;
  line-height: 60px;
  color: #9400D5;
  text-decoration: none;
}

.logo {
  position: relative;

}

.App-intro {
  font-size: large;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:140px;
}

.gallery-item {
  margin: 20px;
  border: 5px solid #FFF;
}

.gallery-item:hover{
  box-shadow: 1px 1px 2px black, 0 0 25px orange, 0 0 5px #FF9933;
}
.gallery-item .thumbnail:hover {
  box-shadow: 1px 1px 2px black, 0 0 25px orange, 0 0 5px #FF9933;
}

 img{
  max-width: 100%
}
.resize {
    width: 50vh;
    height: 50vh;
    position: center;
    display: inline-flex;
}
.resize:hover{
  box-shadow: 1px 1px 2px black, 0 0 25px orange, 0 0 5px #FF9933;
}
@keyframes App-logo-spin {
  from { transform:  }
  to { transform: rotate(360deg); }
}

.product-page {

}

.announcement{
  text-align: center;
  ;
  background-size: cover;
  webkit-background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height:  100vh;
  z-index: -10;
}

.announcement h1 {
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

#slide1{
  text-align: center;
  background-image: url("Components/images/box1.JPG");
  background-size: cover;
  webkit-background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height:  100vh;
  z-index: -10;
}

#slide2{
  text-align: center;
  background-image: url("Components/images/box2.JPG");
  background-size: cover;
  webkit-background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height:  100vh;
  z-index: -10;
}

#slide3{
  text-align: center;
  background-image: url("Components/images/box3.JPG");
  background-size: cover;
  webkit-background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height:  100vh;
  z-index: -10;
}

#slide4{
  text-align: center;
  background-image: url("Components/images/jesus1.JPG");
  background-size: cover;
  webkit-background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height:  100vh;
  z-index: -10;
}

#slide5{
  text-align: center;
  background-image: url("Components/images/jesus2.JPG");
  background-size: cover;
  webkit-background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height:  100vh;
  z-index: -10;
}

#slide6{
  text-align: center;
  background-image: url("Components/images/jesus 3.JPG");
  background-size: cover;
  webkit-background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height:  100vh;
  z-index: -10;
}

#slide7{
  text-align: center;
  background-image: url("Components/images/please1.JPG");
  background-size: cover;
  webkit-background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height:  100vh;
  z-index: -10;
}

#slide8{
  text-align: center;
  background-image: url("Components/images/please2.JPG");
  background-size: cover;
  webkit-background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height:  100vh;
  z-index: -10;
}

#slide9{
  text-align: center;
  background-image: url("Components/images/please3.JPG");
  background-size: cover;
  webkit-background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height:  100vh;
  z-index: -10;
}

#slide10{
  text-align: center;
  background-image: url("Components/images/bayard1.JPG");
  background-size: cover;
  webkit-background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height:  100vh;
  z-index: -10;
}

#slide11{
  text-align: center;
  background-image: url("Components/images/bayard2.JPG");
  background-size: cover;
  webkit-background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height:  100vh;
  z-index: -10;
}

#slide12{
  text-align: center;
  background-image: url("Components/images/bayard3.JPG");
  background-size: cover;
  webkit-background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height:  100vh;
  z-index: -10;
}

.nextArrow, .backArrow {
  resize: both;
  height: 50px;
  width: 50px;
  display: block;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  background: rgba(0, 0, 0, 0.01);
  border-radius: 50%;
}

.nextArrow:hover{
  box-shadow: 1px 1px 2px black, 0 0 25px orange, 0 0 5px #FF9933;
}

.backArrow:hover{
  box-shadow: 1px 1px 2px black, 0 0 25px orange, 0 0 5px #FF9933;
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: #fff;

  img {
    transform: translate(2px, 0);
  }
}
.backArrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #fff;

  img {
    transform: translate(-2px, 0);
  }


}



.backArrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #fff;

  img {
    transform: translate(-2px, 0);
  }
}

.backArrow i {

  width: 50px;
  height: 50px;
  position: center;
  display: inline-flex;
  resize: both;
}
